




.textarea{ 
    width: 600px; 
    min-width:600px; 
    max-width:600px; 
  
    height:90px; 
    min-height:90px;  
    max-height:90px;

    margin: auto;
    
  }

.review-container{
    position:relative;

    width: 600px; 
    min-width:600px; 
    max-width:600px; 

    height:150px; 
    min-height:150px;  
    max-height:200px;

    margin: auto;
}

.review-container > *{

      position: absolute;
  }

.submit{
    bottom: 0;
    right: 0;
    margin-bottom: 20px;
    background-color: #40c4ff;
    color: #000;

  }


  .container {
    width: 500px;
}

.second {
    width: 500px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 10px 10px 5px #aaaaaa;
    margin-bottom: 5px;
    
}

.buttonColor{
    background-color: #40c4ff;
    color: #000;
}

